.titanic {
  float: none;
}

.bermuda {
  visibility: hidden;
}

.sniper {
  cursor: crosshair;
}

.periodic {
  display: table;
}

.pisa {
  font-style: italic;
}

.australia {
  transform: rotate(180deg);
}

.ninja {
  visibility: hidden;
}

.arnold {
  display: flex;
}

.lego {
  display: block;
}

.fear {
  display: none;
}

.defib {
  clear: both;
}

.rap {
  word-spacing: 0;
}
